<header>
    <div class = "navbar">
        <div class = "container">
            <div id="title">
                <h1>snapshot.</h1>
                <p>images at your fingertips.</p>
            </div>
            <div>
                <form class="search-bar">
                    <input type="text" placeholder="Search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <nav class="nav-bar" id="nav-bar">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/postimage">Post</a></li>
                    {{#if logged}}
                    <li><a id="logout-button">Logout</a></li>
                    {{else}}
                    <li><a id="login-button" href="/login">Login</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </div>
</header>