<header>
    <div class = "navbar">
        <div class = "container">
            <div id="title">
                <h1>snapshot.</h1>
                <p>images at your fingertips.</p>
            </div>
            <nav class="nav-bar" id="nav-bar">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/postimage">Post</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>