<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/test.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class = "navbar">
            <div class = "container">
                <div id="title">
                    <h1>snapshot.</h1>
                    <p>images at your fingertip.</p>
                </div>
                <nav class="nav-bar" id="nav-bar">
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/postimage">Post</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <div class = "container2">
        <fieldset>
            <form class="form">
                <h2>Login Form</h2>
                <p>Enter your login information here!</p>
                <div class="submit-field">
                    <label>Username</label>
                    <input type="text" id="my-username" name="my-username" class="submit" placeholder="Your Username" required/>
                </div>
    
                <div class="submit-field">
                    <label>Password</label>
                    <input type="password" id="my-password" name="my-password" class="submit" placeholder="Your Password" required/>
                </div>
    
                <div class="submit-field">
                    <button type="submit" class="submit-button" id="submit">Submit</button>
                </div>
    
                <div class="submit-field">
                    <a id="new-user" href="/register"> New User? Register Now! </a>
                </div>
            </form>
        </fieldset>
    </div>
</body>
</html>