<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
</head>

<body>
    <div id="grid">
        <div class="content">
            <form class="login-form" method="POST" action="/users/login" enctype="application/x-www-form-urlencoded">
                <fieldset>
                    <h1>Login</h1>
                    <div class="submit-field span-2">
                        <label class="labelL">Username:</label>
                        <input type="text" id="username" name="username" class="submit" placeholder="Your Username"
                            required />
                    </div>

                    <div class="submit-field span-2">
                        <label class="labelL">Password:</label>
                        <input type="password" id="password" name="password" class="submit" placeholder="Your Password"
                            required />
                    </div>

                    <div class="submit-field">
                        <a id="register-link" href="/register"> Register </a>
                    </div>

                    <div class="submit-field">
                        <button type="submit" class="submit-button" id="submit-buttonL">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</body>

</html>