<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    

    <div class = "container2">
        <fieldset>
            <form class="form">
                <h2>Login Form</h2>
                <p>Enter your login information here!</p>
                <div class="submit-field">
                    <label>Username:</label>
                    <input type="text" id="my-username" name="my-username" class="submit" placeholder="Your Username" required/>
                </div>
    
                <div class="submit-field">
                    <label>Password:</label>
                    <input type="password" id="my-password" name="my-password" class="submit" placeholder="Your Password" required/>
                </div>
    
                <div class="submit-field">
                    <button type="submit" class="submit-button" id="submit">Submit</button>
                </div>
    
                <div class="submit-field">
                    <a id="new-user" href="/register"> New User? Register Now! </a>
                </div>
            </form>
        </fieldset>
    </div>
</body>
</html>