<!DOCTYPE html>
<html lang="en">
<head>
    <title>Post Image</title>
</head>
<body>
    <div id="grid-content">
        <div class="container2">
            <fieldset>
                <form class="form">
                    <h1>Post an Image</h1>
                    <p>Enter image information here: </p>
                    
                    <div class="submit-field">
                        <label>Image Title:</label>
                        <input type="text" id="my-title" name="my-title" placeholder="Your Image Title" required/>
                    </div>
            
                    <div class="submit-field">
                        <label>Image Description:</label>
                        <textarea name="my-desc" cols=34 rows=5></textarea>
                    </div>
            
                    <div class="submit-field">
                        <label>Post an Image: </label>
                        <input type="file" id="my-pic" name="my-pic" required/>
                    </div>
            
                    <div class="submit-field">
                        <input type="checkbox" id="my-TOS" name="my-TOS" required/>
                        <a id="AUP-text" href="#"> Agree to the Acceptable Use Policy for uploading images </a>
                    </div>
                    
                    <div class="submit-field">
                        <button type="submit" class="submit-button" id="submit">Submit</button>
                    </div>
                </form>
            </fieldset>
        </div>
    </div>
</body>
</html>