<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/test.css">
    <title>Viewing Post</title>
</head>
<body class>
    <header>
        <div class = "navbar">
            <div class = "container">
                <div id="title">
                    <h1>snapshot.</h1>
                    <p>images at your fingertip.</p>
                </div>
                <nav class="nav-bar" id="nav-bar">
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/postimage">Post</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="container2">
        <fieldset>
            <div class="form" id="form">
                <h1>View Post</h1>
                <div class="post">
                <p><strong>View Post:</strong> In the Wild </p>
                </div>

                <div class="post">
                <p><strong>Post Author:</strong> YoungBoi</p>
                </div>

                <div class="post">
                <p><strong>Post Created:</strong> Aug 11, 2021 at 11:59pm</p>
                </div>
                
                <div class="image">
                <img style="width: 440px; height: 270px;" src="https://lumiere-a.akamaihd.net/v1/images/h_up_19753_7e04bba2.jpeg?region=0,0,2048,878" alt="Group pic post no load :c">
                </div>
            </div>
        </fieldset>
    </div>
</body>
</html>